<div class="app">
  <div class="top-nav">
    <div class="top-nav__upperLeft">
      <p class="sidebar">|||</p>
      <h3 class="app-title">New Category</h3>
    </div>
    <div class="task-lists">
      <ul class="task-lists__group">
        {{!-- <li class="task-lists__item">New Year's Resolutions</li>
        <li class="task-lists__item">House Chores</li>
        <li class="task-lists__item">Errands</li>
        <li class="task-lists__item">Groceries</li>
        <li class="task-lists__item">Homework</li>
        <li class="task-lists__item add-new">Add New List</li> --}}
      </ul>

    </div>
  </div>
<div class="hero">
  <div class="group-title">
    <h2 class="group-title__text">Add New Category</h2>
  </div>
  <div class="todo-content">
    {{#simple-form onsubmit=(action "saveCategory") as |formValues|}}
      {{input class="title-input" type="text" placeholder="Category Name" value=formValues.title}}
  <div class="todo-content__btn-container">
    {{#link-to 'todo-group.index'}}<button class="back-btn">BACK</button>{{/link-to}}
    <button class="submit" type="submit" value="Save">ACCEPT</button>
  </div>
  {{/simple-form}}
      </div>
</div>
</div>


{{outlet}}
