<div class="app">
  <div class="top-nav">
    <div class="top-nav__upperLeft">
      <p class="sidebar"></p>
      <h4 class="app-title">Todos</h4>
    </div>
    <div class="task-lists">
      <ul class="task-lists__group">
        <li class="link">New Year's Resolutions</li>
        <li class="link">Groceries</li>
        <li class="link">Homework</li>
        <li class="link add-new">Add New List</li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <div class="container">
      <div class="group-title">
        <h3 class="group-title__text">Add New List</h3>
      </div>
      <div class="todo-content">
        {{!-- {{#simple-form onsubmit= (action ’saveAuthor) as |formValues|}}
          {{ input value=formValues.firstName type=t’text’ class=“todo-content__newInput”}}
      <div class="todo-content__btn-container">
        <button class="todo-content__btn">Accept</button>
      </div>
      {{/simple-form}} --}}
    </div>
    </div>
  </div>
</div>

{{outlet}}


{{outlet}}
