<div class="app">
  <div class="top-nav">
    <div class="top-nav__upperLeft">
      <p class="sidebar">|||</p>
      <h3 class="app-title">Categories</h3>
    </div>
    <div class="task-lists">
      <nav class="task-lists__group">
        {{#each model as |formValue|}}
          {{#link-to "todo-group.edit" formValue class="nav__item"}}
            {{formValue.title}}
          {{/link-to}}
        {{/each}}
        {{#link-to "todo-group.new" class="nav__item nav__item--new-link"}}
          Add New List
        {{/link-to}}
      </nav>

    </div>
  </div>
  <div class="main-content">
    {{outlet}}
  </div>
</div>
